{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div class="col-wrapper">
    <div class="col-left">
        <p>
            Den här delen av webbsidan är strukturerad genom klasserna
            Card, CardGraphic, DeckOfCards och CardHand.
        </p>
        <p>
            Klassen Card skapar ett spelkort, och CardGraphic, som är en
            subklass till Card (och ärver dess variabler och metoder), 
            ger spelkorten grafisk representation.
        </p>
        <p>
            DeckOfCards skapar en kortlek genom anrop till klassen 
            CardGraphic, och är därigenom relaterad till CardGraphic, och 
            indirekt till Card, genom komposition.
        </p>
        <p>
            Ett CardHand-objekt håller en array bestående av 
            Card-objekt från ett DeckOfCards-objekt, vilket gör att 
            CardHand har ett kompositionsförhållande till DeckOfCards, 
            men därigenom också är relaterat till Card.
        </p>
    </div>
    <div class="col-right">
        <div class="about-links">
            <div class="box">
                <a href="card/deck" class="repo-link">Kortlek</a>
            </div>
            <div class="box">
                <a href="card/deck/shuffle" class="repo-link">Blanda kort</a>
            </div>
            <div class="box">
                <a href="card/deck/draw" class="repo-link">Dra ett kort</a>
            </div>
            <div class="box">
                <a href="card/deck/draw/3" class="repo-link">Dra tre kort</a>
            </div>
            <div class="box">
                <a href="card/deck/deal/4/5" class="repo-link">Dela ut kort</a>
            </div>
        </div>
    </div>
</div>
<div class="uml-wrapper">
    <img src="{{ asset('img/uml_mvc2.jpg')}}" alt="UML-diagram">
</div>


{% block main %}{% endblock %}

{% endblock %}