{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div class="col-wrapper">
    <div class="col-left">
        <p>Playing cards, how do they work?</p>
        <p>Den h채r delen av webbsidan 채r strukturerad genom klasserna
            Card, CardGraphic och DeckOfCards. Klassen Card skapar ett
            spelkort, CardGraphic, som 채r en subklass till Card (och 채rver dess
            variabler och metoder), ger spelkorten grafisk representation, 
            och DeckOfCards skapar en kortlek genom anrop till klassen 
            CardGraphic.
        </p>
    </div>
    <div class="col-right">
        <div class="about-links">
            <div class="box">
                <a href="card/deck" class="repo-link">Kortlek</a>
            </div>
            <div class="box">
                <a href="card/deck/shuffle" class="repo-link">Blanda</a>
            </div>
            <div class="box">
                <a href="card/deck/draw" class="repo-link">Dra ett kort</a>
            </div>
        </div>
    </div>
</div>

{% block main %}{% endblock %}

{% endblock %}