{% extends "base.html.twig" %}

{% block title %}Shuffled Deck{% endblock %}

{% block body %}
<h1>{{ title }}</h1>


<div class="deck">
    {% for row in deck|batch(13) %}
    <div class="card-row">
        {% for card in row %}
            {{ card|raw }}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="about-links">
    <div class="box">
        <a href="{{ path('create_and_shuffle', {'source': 'from_shuffle'}) }}" class="repo-link">Skapa ny kortlek</a>
    </div>
</div>

{% endblock %}