{% extends "base.html.twig" %}

{% block title %}Shuffled Deck{% endblock %}

{% block body %}
<h1>Shuffled Deck</h1>


<div class="deck">
    {% for row in deck|batch(13) %}
    <div class="card-row">
        {% for card in row %}
            {{ card|raw }}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}