{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
<p>Egad, the game.</p>

<p>
    I tjugoett spelar du mot banken, och börjar med att dra ett kort 
    i taget. Målet är att nå 21, eller komma så nära som möjligt 
    utan att gå högre. När du är nöjd med de kort du har dragit, 
    väljer du att stanna, och det är då bankens tur. Banken stannar 
    automatiskt när den når 17 eller mer, och här kommer avgörandet:
</p>
<p>
    För att du ska vinna krävs att du har 21, eller så nära under som
    möjligt. Du vinner också om banken skulle få över 21. Banken 
    vinner vid lika, om banken kommer närmare 21, eller om du skulle 
    få över 21 - då får du försöka igen.
</p>
    
<p>
    Essen är värda 1 eller 14, knektarna 11, damerna 12, och kungarna 13.
    Nummerkorten har samma värde som sin valör.
</p>
</div>
<div class="row-buttons">
    <div class="box">
        <a href="game/init" class="repo-link">Spela tjugoett</a>
    </div>
    <div class="box">
        <a href="game/doc" class="repo-link">Dokumentation</a>
    </div>
</div>



{% block main %}{% endblock %}

{% endblock %}