{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>

<p>
    I 21 spelar du mot banken, och börjar med att dra ett kort 
    i taget. Målet är att nå just 21, eller komma så nära som möjligt 
    utan att gå högre. När du är nöjd med de kort du har dragit, 
    väljer du att stanna, och det är då bankens tur. Banken stannar 
    automatiskt när den når 17 eller mer, och här kommer avgörandet:
</p>
<p>
    För att du ska vinna krävs att du har högst poäng i din korthand 
    jämfört med banken, men aldrig över 21. Du vinner också om banken 
    skulle få över 21. Banken vinner vid lika, om banken kommer 
    närmare 21, eller om du skulle få över 21 - då får du försöka igen.
</p>

<p>
    Du och banken börjar spelet med 100 pengar vardera, och innan varje
    ny omgång kan du välja att satsa en summa. Banken matchar din insats,
    och om du vinner omgången vinner du potten - din dubbla insats. Men
    om du förlorar, även vid oavgjort, går potten till banken.
</p>

<p>
    Essen är värda 1 eller 14, knektarna 11, damerna 12, och kungarna 13.
    Nummerkorten har samma värde som sin valör.
</p>

<p>
    Spelet är slut när dina eller bankens pengar är slut, eller när alla
    kort i leken har dragits. Lycka till!
</p>

</div>
<div class="row-buttons">
    <div class="box">
        <a href="game/init" class="repo-link">Spela tjugoett</a>
    </div>
    <div class="box">
        <a href="game/doc" class="repo-link">Dokumentation</a>
    </div>
</div>



{% block main %}{% endblock %}

{% endblock %}