.api-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: space-between;
}

.api-item {
    display: flex;
    flex-direction: column;
    background-color: lighten($background-header-footer, 25%);
    border: 1px solid lighten($background-header-footer, 25%);
    border-radius: 5px;
    padding: 0.4em;
    max-width: 24em;
}

.api-item span {
    width: 24rem;

    @media screen and (max-width: 600px) {
        max-width: 22em;
    }
}

.api-button {
    background-color: $content-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: $link-color;
    font-family: $header-font;
    font-size: 1.2em;
    transition: color 0.1s;
    padding: 0.5em;
    margin-bottom: 0.4em;
    width: 24rem;

    @media screen and (max-width: 600px) {
        max-width: 22em;
    }

    &:hover {
        color: $accent-color;
        outline: 2px solid $accent-color;
    }
}

.api-number-input {
    display: flex;
    flex-direction: row;
    background-color: $content-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: $link-color;
    font-family: $header-font;
    margin-bottom: 0.4em;
    width: 24rem;

    @media screen and (max-width: 600px) {
        max-width: 22em;
    }

    &:hover {
        color: $accent-color;
        outline: 2px solid $accent-color;
    }
}

.api-number-input label {
    background-color: $content-color;
    border: 1px solid $content-color;
    border-radius: 5px;
    color: $link-color;
    font-family: $header-font;
    padding: 0.4em;

    &:hover {
        color: $accent-color;
    }
}

.api-number-input input {
    border: 1px solid $content-color;
    border-radius: 5px;
    color: $link-color;

    &:hover {
        color: $accent-color;
    }
}