img {
    filter: $image-filter;
    max-width: 100%;
}

.small {
    border: 2px solid $image-border-color;
    border-radius: 5px;
    filter: $image-filter;
    float:left;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 1.4em;
    max-width: 250px;
    vertical-align: top;
}

.logo {
    filter: $logo-filter;

    &:hover {
        filter: $logo-filter-hover;
    }
}

.uml-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.4em;
}

.unfiltered-small {
    margin-bottom: 5px;
    max-width: 250px;
    vertical-align: top;
}

.screenshot-preview {
    max-height: 200px;
    width: auto;
    cursor: pointer;
}

.wheel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;
}
