@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat&display=swap');
$font-color: #333;
$font-alternative-color: #fff;
$font-alternative-color-dark: #000;
$accent-color: #c29062;
$accent-color-alternative: #735031;
$background-color: #F2E1D3;
$background-alternative-color: #e0fbfc;
$background-header-footer: #97BEC7;
$background-dark-color: #604328;
$darkest-text: #333;
$content-color: #fff;
$image-border-color: #eee;
$link-color: #604328;
$link-hover-color: #F2E1D3;
$link-hover-color-content: #c29062;
$link-active-color: rgba(0, 44, 51, 0.1);
$image-filter: none;
$logo-filter: none;
$logo-filter-hover: none;
$table-border-color: #F2E1D3;
$title-shadow-hover: none;

$header-font: 'Montserrat', sans-serif;
$main-font: 'GFS-Didot', serif;

$header-font: 'Montserrat', sans-serif;
$main-font: 'GFS-Didot', serif;

$card-row-min-height: calc(84px + 1em);