{% extends 'base.html.twig' %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>Tillgängliga JSON routes</h1>
    <div class="api-wrapper">
            {% for route in jsonRoutes %}
                <div class="api-item">
                    {% if 'number' in route.path %}
                        {% include 'form_number.html.twig' %}
                    {% else %}
                        {% if 'players' in route.path %}
                            {% include 'form_player.html.twig' %}
                        {% else %}
                            {% include 'form_default.html.twig' %}
                        {% endif %}
                    {% endif %}
                    <span>{{ route.description }}</span>
                </div>
            {% endfor %}
    </div>
{% endblock %}