<div class="footer">
    <div class="footer-text">
        <p>
            &#169; Annie Gustafsson, 2024.
        </p>
    </div>
    <div class="social">
        {% for social in metadata.social %}
            <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                <i class="{{ social.icon }}" aria-hidden="true"></i>
                <span class="sr-only">{{ social.title }}</span>
            </a>
        {% endfor %}
    </div>
</div>
