<form action="{{ path(route.name, { 'number': 4 }) }}" method="{{ route.method }}">
    <button class="api-button" type="submit">{{ route.path }}</button>
    <span class="api-number-input">
        <label for="numberInput">Antal kort:</label>
        <input type="number" id="numberInput" name="number" value="4">
    </span>
</form>
