<div class="header" role="banner">
    <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
        <span class="site-title">My Symfony Site</span>
    </header>
</div>
