{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <img src="{{ asset('img/me2_320x320.jpg') }}" class="small" alt="Bild på mig">

    <h1>Hej</h1>

    <p>
        Jag heter Annie Gustafsson, aspirerande webbutvecklare, och 
        det här är min presentationssida för kursen DV1608,
        Objektorienterade webbteknologier.
    </p>

    <p>
        Sedan ett antal år bor jag i södra Östergötland, där jag är
        född och uppvuxen, men har också spenderat ett antal år i 
        Lund och Malmö, med en kort vända i Växjö innan dess.
    </p>

    <p>
        Sedan tidigare har jag en juristexamen, lite litteraturvetenskap,
        och ett stort språkintresse, men jag har alltid sneglat åt 
        det här hållet - datorer, problemlösning, utveckling osv.
    </p>

    <p>
        I mitten av 90-talet köpte mina föräldrar den första "hemdatorn",
        och tanken var att den skulle användas till skolarbete, och 
        det blev det nog, men mest av allt blev det enklare
        webbsidebyggande, och många, många timmar med bland annat
        <a href="https://en.wikipedia.org/wiki/Albion_(video_game)">
            det här
        </a> spelet.
    </p>

    <p>
        Sedan kom studier och annat emellan, men som sagt, det här
        området har alltid lockat, och nu är jag här, och har väldigt
        roligt.
    </p>
        
    <p>
        När jag inte sitter framför datorn och pluggar och kodar,
        springer jag gärna en vända, läser böcker, eller fotograferar.
    </p>
{% endblock %}