{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Se och begrunda: Ditt öde</h1>
    <p>(Ladda om sidan för att välja nytt öde.)</p>
    <div class="magic-wrapper">
        <div class="col-left">
            <p>Ditt magiska nummer:</p>
            <div class="magic-number">
                <span class="{{ css_class }}">{{ number }}</span>
            </div>
        </div>
        <div class="col-right">
            <p>Din alldeles egen ödeschaufför. Tut tut!</p>
            <div class="magic-image">
                <img src="{{ image_path }}" width="300">
            </div>
        </div>
    </div>
    
{% endblock %}