{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}

<div class="report-wrapper">
    {% set reportDir = 'report/' %}
    <div class="sidebar">
        <h3>Innehåll</h3>
        <ul>
            {% for item in sidebarItems %}
                <li class="sidebar-item">
                    <a href="#{{ item.kmomId }}">{{ item.header }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content">
        <h1>Redovisning</h1>
        {% for content in markdownContents %}
            {{ content|markdown_to_html }}
        {% endfor %}
        <a href="#">Tillbaka till början</a>
    </div>
</div>

{% endblock %}