{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}

<h1>Session Data</h1>

<p>
    Data i sessionen:
</p>
<pre class="session-dump">
    {{ dump(session) }}
</pre>
<a href="{{ path('session_delete') }}">Radera sessionen</a>

{{ include('flash.html.twig') }}

{% endblock %}