<div class="row-buttons game-buttons">
    <form action="{{ path('game_bet') }}" method="post">
        <label for="betAmount">Insats:</label>
        <input type="number" id="bet-amount" name="betAmount" min="0" required>
        <button type="submit" class="button">Lägg insats</button>
    </form>
</div>