<div class="row-buttons game-buttons">
    <div class="box">
        <a href="{{ path('game_hit') }}" class="repo-link">Ta ett kort</a>
    </div>
    <div class="box">
        <a href="{{ path('game_stand') }}" class="repo-link">Stanna</a>
    </div>
</div>